<footer class="py-6 text-white ps-3 bg-primary md:px-3">
  <div class="container max-w-full px-3 md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl">
    <nav class="flex items-start justify-between pb-3 border-b md:pb-8">
      <div>
        <ul class="hidden h-12 mb-8 md:flex lg:md-9">
          <li class="flex items-center me-12">
            <a href="./index.html">首頁</a>
          </li>
          <li class="flex items-center me-12">
            <a href="#">系列鏡框</a>
          </li>
          <li class="flex items-center me-12">
            <a href="#">門市據點</a>
          </li>
          <li class="flex items-center me-12">
            <a href="#">部落格</a>
          </li>
          <li class="flex items-center me-12">
            <a href="./qa.html">常見問題</a>
          </li>
        </ul>
        <div class="md:text-4xl">
          <a class="flex text-white" href="tel:+886-2-3278918">
            <i class="bi bi-telephone"></i>
            <p class="mb-2 ms-[11px] md:ms-[22px]">0800-000-000</p>
          </a>
          <a class="flex" href="mailto:dd1111@gmail.com">
            <i class="bi bi-envelope"></i>
            <p class="ms-[10px] md:ms-5">glasses@business.com</p>
          </a>
        </div>
      </div>

      <ul class="flex items-center">
        <li class="me-2 md:me-4 lg:me-8">
          <a class="block w-6 md:w-10 lg:w-12" href="#"
            ><img src="../assets/images/ic-social-fb.png" alt=""
          /></a>
        </li>
        <li class="me-2 md:me-4 lg:me-8">
          <a class="block w-6 md:w-10 lg:w-12" href="#"
            ><img src="../assets/images/ic_social_ig.png" alt=""
          /></a>
        </li>
        <li>
          <a class="block w-6 md:w-10 lg:w-12" href="#"
            ><img src="../assets/images/ic_social_line.png" alt=""
          /></a>
        </li>
      </ul>
    </nav>
    <div class="justify-between block pt-4 md:flex">
      <p class="mb-4 md:mb-0">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="block mb-2 md:flex md:text-sm md:mb-0">
        <li class="me-12"><a href="#"> 隱私權政策 </a></li>
        <li><a href="#"> 服務條款 </a></li>
      </ul>
    </div>
  </div>
</footer>
