<header class="text-white md:text-xl bg-primary">
    <div class="container flex flex-col max-w-full px-0 md:flex-row md:py-4 md:px-3 md:justify-between md:items-center md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl">
        <div class="w-20 m-4 md:m-0">
            <a href="./index.html">
                <img src="../assets/images/logo-white.png" alt="logo" />
            </a>
        </div>
        <div class="w-full md:w-auto">
            <ul class="flex flex-wrap w-full md:flex-nowrap md:w-auto">
                <li class="flex items-center justify-center w-1/2 border md:w-auto md:border-none md:me-16">
                    <a class="w-full py-3 text-center" href="#">系列鏡框</a>
                </li>
                <li class="flex items-center justify-center w-1/2 border md:w-auto md:border-none md:me-16">
                    <a class="w-full py-3 text-center" href="#">門市據點</a>
                </li>
                <li class="flex items-center justify-center w-1/2 border md:w-auto md:border-none md:me-16">
                    <a class="w-full py-3 text-center" href="#">部落格</a>
                </li>
                <li class="flex items-center justify-center w-1/2 border md:w-auto md:border-none">
                    <a class="w-full py-3 text-center" href="./qa.html">常見問題</a>
                </li>
            </ul>
        </div>
    </div>
</header>