<header class="py-3 text-white md:text-xl bg-primary">
    <div class="container flex items-center justify-between">
        <div class="w-20">
            <a href="./index.html">
                <img src="../assets/images/logo-white.png" alt="logo" />
            </a>
        </div>
        <div class="links">
            <ul class="flex">
                <li>
                    <a class="ms-10" href="#">系列鏡框</a>
                </li>
                <li>
                    <a class="ms-10" href="#">門市據點</a>
                </li>
                <li>
                    <a class="ms-10" href="#">部落格</a>
                </li>
                <li>
                    <a class="ms-10 pe-0" href="./q&a.html">常見問題</a>
                </li>
            </ul>
        </div>
    </div>
</header>