<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/link'); -%>
    <title>首頁</title>
  </head>
  <body class=" text-text-primary">
    <%- include('./layout/header'); -%>
    
    <div class="bg-cover bg-center h-[396px] bg-home-header-sm md:h-[787px] lg:bg-home-header">
      <div class="container flex items-center justify-end h-full">
        <div class="flex flex-col items-end">
          <p class="md:text-4xl">Promise-Desert 2020 早春系列</p>
          <h2 class="mb-1 text-2xl font-bold md:text-6xl md:mb-[10px] md:py-4">看得清，才能看得遠</h2>
          <a class="px-3 py-1.5 text-xl text-white bg-primary" href="">立即購買</a>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
